In [1]:
#dependencies 
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np
import requests 
import time 
import gmaps

#Open CSV file 
gun_violence = "gun_violence_data.csv"
gun_violence_pd = pd.read_csv(gun_violence)
# gun_violence_pd.head()

In [2]:
gun_violence_red = gun_violence_pd[["incident_id", "date", "city_or_county", "n_killed", "n_injured", 
                                 "participant_age_group", "participant_gender",
                                "n_guns_involved", "participant_status", "participant_type",
                                 "state_house_district", "state_senate_district"]]

gun_violence_red.head(5)

,incident_id,date,city_or_county,n_killed,n_injured,participant_age_group,participant_gender,n_guns_involved,participant_status,participant_type,state_house_district,state_senate_district
0,461105,2013-01-01,Mckeesport,0,4,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,NaN,NaN
1,460726,2013-01-01,Hawthorne,1,3,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,62.0,35.0
2,478855,2013-01-01,Lorain,1,3,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,2.0,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,56.0,13.0
3,478925,2013-01-05,Aurora,4,0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,40.0,28.0
4,478959,2013-01-07,Greensboro,2,2,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,2.0,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,62.0,27.0

In [3]:
#Rename The Columns 

gun_violence_red = gun_violence_red.rename(columns={"incident_id": "Incident ID",
                                            "date": "Date",
                                            "state": "State",
                                            "city_or_county": "City/County",
                                            "n_killed": "Killed",
                                            "n_injured": "Injured",
                                            "participant_age_group": "Age Group",
                                            "participant_gender": "Gender",
                                            "gun_stolen": "Gun Stolen",    
                                            "n_guns_involved": "Number of Guns involved",
                                            "participant_status": "Participant Status",
                                            "participant_type": "Associated with Participant",
                                            "state_house_district": "State House District",
                                            "state_senate_district": "State Senate District"
})

gun_violence_red.head()

,Incident ID,Date,City/County,Killed,Injured,Age Group,Gender,Number of Guns involved,Participant Status,Associated with Participant,State House District,State Senate District
0,461105,2013-01-01,Mckeesport,0,4,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,NaN,NaN
1,460726,2013-01-01,Hawthorne,1,3,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,62.0,35.0
2,478855,2013-01-01,Lorain,1,3,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,2.0,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,56.0,13.0
3,478925,2013-01-05,Aurora,4,0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,40.0,28.0
4,478959,2013-01-07,Greensboro,2,2,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,2.0,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,62.0,27.0

In [4]:
# counting for genders:

def countGender(genderStr,ismale=True):
    x = genderStr
    
    try:
        results = [1 if 'female' in e.lower() else 0 for e in x.split('||')]
        females = sum(results)
        males = len(results) - females
#         print(f'Females: {females} & Males: {males}')
        if ismale:
            return males
        else:
            return females
    except:
#         print(f"Data not available: {x}")
        return x

In [5]:
# Female
gun_female = gun_violence_red['Gender'].apply(lambda my_str: countGender(my_str,ismale=False))
# Male
gun_male = gun_violence_red['Gender'].apply(lambda my_str: countGender(my_str))

In [6]:
gun_violence_df = gun_violence_red
gun_violence_df['Female'] = gun_female
gun_violence_df['Male'] = gun_male
gun_violence_df = gun_violence_df.drop(columns=["Gender"])
display(gun_violence_df.head())

,Incident ID,Date,City/County,Killed,Injured,Age Group,Number of Guns involved,Participant Status,Associated with Participant,State House District,State Senate District,Female,Male
0,461105,2013-01-01,Mckeesport,0,4,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,NaN,NaN,1.0,3.0
1,460726,2013-01-01,Hawthorne,1,3,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,62.0,35.0,0.0,1.0
2,478855,2013-01-01,Lorain,1,3,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,2.0,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,56.0,13.0,0.0,5.0
3,478925,2013-01-05,Aurora,4,0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,40.0,28.0,1.0,3.0
4,478959,2013-01-07,Greensboro,2,2,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,2.0,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,62.0,27.0,2.0,2.0

In [7]:
def countType(raw_str, str_type):
    
    try:
        results = [1 if str_type in e.lower() else 0 for e in raw_str.split('||')]

        return sum(results)
    except:
        return raw_str
    
#Creating/separating the individual variables for each age group
# Adult
adult_group = gun_violence_df['Age Group'].apply(lambda x: countType(x, 'adult'))
adult_group.head(10)
# Teen
teen_group = gun_violence_df['Age Group'].apply(lambda x: countType(x, 'teen'))
teen_group.head(10)
# Child
child_group = gun_violence_df['Age Group'].apply(lambda x: countType(x, 'child'))
child_group.head(10)
# Killed
gun_kill = gun_violence_pd['participant_status'].apply(lambda x: countType(x, 'killed'))
# Injured 
gun_injured = gun_violence_pd['participant_status'].apply(lambda x: countType(x, 'injured'))
# Unharmed
gun_unharmed = gun_violence_pd['participant_status'].apply(lambda x: countType(x, 'unharmed'))
# Arrested
gun_arrested = gun_violence_pd['participant_status'].apply(lambda x: countType(x, 'arrested'))

In [8]:
gun_violence_df["Children (0-11)"] = child_group
gun_violence_df["Teens (12-17)"] = teen_group
gun_violence_df["Adults (18+)"] = adult_group
gun_violence_df["Killed"] = gun_kill
gun_violence_df["Injured"] = gun_injured
gun_violence_df["Unharmed"] = gun_unharmed
gun_violence_df["Arrested"] = gun_arrested
gun_violence_df = gun_violence_df.drop(columns=["Age Group"])
gun_violence_df = gun_violence_df.drop(columns=["Associated with Participant"])
gun_violence_df = gun_violence_df.drop(columns=["Participant Status"])
gun_violence_df.head()

,Incident ID,Date,City/County,Killed,Injured,Number of Guns involved,State House District,State Senate District,Female,Male,Children (0-11),Teens (12-17),Adults (18+),Unharmed,Arrested
0,461105,2013-01-01,Mckeesport,0.0,4.0,NaN,NaN,NaN,1.0,3.0,0.0,0.0,5.0,0.0,1.0
1,460726,2013-01-01,Hawthorne,1.0,3.0,NaN,62.0,35.0,0.0,1.0,0.0,0.0,4.0,0.0,0.0
2,478855,2013-01-01,Lorain,1.0,3.0,2.0,56.0,13.0,0.0,5.0,0.0,0.0,5.0,2.0,2.0
3,478925,2013-01-05,Aurora,4.0,0.0,NaN,40.0,28.0,1.0,3.0,0.0,0.0,4.0,0.0,0.0
4,478959,2013-01-07,Greensboro,2.0,2.0,2.0,62.0,27.0,2.0,2.0,0.0,1.0,3.0,0.0,0.0

In [9]:
# GUN TYPES
gun_types = pd.DataFrame({"source_string": gun_violence_pd["gun_type"]})
gun_types["source_clean"] = gun_types["source_string"].str.replace('\d+::', ',', regex=True).str.replace('\d+:', ',', regex=True).str.replace('|', '', regex=False).str[1:]
#gun_types.head()
split_by_gun_df = gun_types["source_clean"].str.split(',', expand=True).rename(columns = lambda x: "gun_"+str(x))
#split_by_gun_df.head()
gun_total = split_by_gun_df.apply(pd.value_counts)
                                                                    
gun_total["Total"] = gun_total.sum(axis=1)
most_common_guns = gun_total.sort_values(["Total"], ascending=False)
most_common_guns["Total"]

Unknown            131154.0
Handgun             25050.0
9mm                  6461.0
Rifle                5271.0
Shotgun              4271.0
22 LR                3358.0
40 SW                2749.0
380 Auto             2398.0
45 Auto              2368.0
38 Spl               1811.0
223 Rem [AR-15]      1613.0
12 gauge             1116.0
Other                1065.0
7.62 [AK-47]          940.0
357 Mag               824.0
25 Auto               612.0
32 Auto               490.0
20 gauge              207.0
44 Mag                198.0
30-30 Win             110.0
410 gauge              97.0
308 Win                93.0
30-06 Spr              84.0
10mm                   50.0
16 gauge               33.0
300 Win                23.0
28 gauge                6.0
Name: Total, dtype: float64

In [10]:
# PARTISAN DATA

partisan_read = pd.read_csv('partisan_data.csv')
partisan_df = pd.DataFrame(partisan_read)
partisan_df.head()

    District   PVI
0  Alabama 1  R+15
1  Alabama 2  R+16
2  Alabama 3  R+16
3  Alabama 4  R+30
4  Alabama 5  R+18

In [11]:
partisan_df['state'] = ''
partisan_df['congressional_district'] = ''

for row in range (0, len(partisan_df)):
    partisan_df['state'][row] = partisan_df['District'][row][0:-2]
    partisan_df['congressional_district'][row] = partisan_df['District'][row].split(' ')[-1]
partisan_df.head()

    District   PVI    state congressional_district
0  Alabama 1  R+15  Alabama                      1
1  Alabama 2  R+16  Alabama                      2
2  Alabama 3  R+16  Alabama                      3
3  Alabama 4  R+30  Alabama                      4
4  Alabama 5  R+18  Alabama                      5

In [12]:
partisan_df['partisan_lean']= partisan_df["PVI"]

#converting "R+" and "D+" into positive (for Republicans) and negative (for Democrats) numbers
for row in range (0, len(partisan_df)):
    if partisan_df['PVI'][row][0:2] == "R+":
        partisan_df['partisan_lean'][row] = int(partisan_df["PVI"][row][2:])
    elif partisan_df['partisan_lean'][row][0:2] == "D+":
        partisan_df['partisan_lean'][row] = int("-" + partisan_df['PVI'][row][2:])
    else:
        partisan_df["PVI"][row] = 0

In [13]:
partisan_df_clean = partisan_df[['state', 'congressional_district', 'partisan_lean']]
partisan_df_clean.head()

     state congressional_district partisan_lean
0  Alabama                      1            15
1  Alabama                      2            16
2  Alabama                      3            16
3  Alabama                      4            30
4  Alabama                      5            18

In [15]:
pd.to_numeric(partisan_df_clean['congressional_district'], errors='ignore')

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7      AL
8       1
9       2
10      3
11      4
12      5
13      6
14      7
15      8
16      9
17      1
18      2
19      3
20      4
21      1
22      2
23      3
24      4
25      5
26      6
27      7
28      8
29      9
       ..
405     4
406     5
407     6
408     7
409     8
410     9
411    10
412    11
413     1
414     2
415     3
416     4
417     5
418     6
419     7
420     8
421     9
422    10
423     1
424     2
425     3
426     1
427     2
428     3
429     4
430     5
431     6
432     7
433     8
434    AL
Name: congressional_district, Length: 435, dtype: object

In [16]:
partisan_df[partisan_df['congressional_district']=="AL"]['congressional_district']

7      AL
86     AL
232    AL
297    AL
351    AL
401    AL
434    AL
Name: congressional_district, dtype: object

In [17]:
# Retrieve Google API key from config.py
from config_3 import gkey

target = "all incidents"
params = {"address": target, "key": gkey}
# Build URL using the Google MAps API
base_url = "https://maps.googleapis.com/maps/api/geocode/json"
print("coordinates of incidents")
# Run Request
response = requests.get(base_url, params=params)
print(response.url)
# Extract lat/lng
location_data = pd.DataFrame({"Latitude": gun_violence_pd["latitude"],
                                "Longitude":gun_violence_pd["longitude"]})
#location_data.head()

coordinates of incidents
https://maps.googleapis.com/maps/api/geocode/json?address=all+incidents&key=AIzaSyBfyhLjvvaMiimldylmDMyVizDPrauiZd0

In [18]:
location_data_clean = location_data.dropna(how='any')
fig = gmaps.figure()
# Create heat layer
heat_layer = gmaps.heatmap_layer(location_data_clean, dissipating=False, max_intensity=10, point_radius=0.2)
# Add Layer 
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))